* text=auto !eol
Blis/AUTHORS -text
Blis/LICENSE -text
Blis/MSVisualStudio/v8/Blis.sln -text
Blis/MSVisualStudio/v8/Blis.suo -text
Blis/MSVisualStudio/v8/Blis.vcproj -text
Blis/MSVisualStudio/v8/libBlis.vcproj -text
Blis/MSVisualStudio/v9/Blis.sln -text
Blis/MSVisualStudio/v9/Blis.suo -text
Blis/MSVisualStudio/v9/Blis.vcproj -text
Blis/MSVisualStudio/v9/libBlis.vcproj -text
Blis/Makefile.am -text
Blis/Makefile.in -text
Blis/README -text
Blis/blis_addlibs.txt.in -text
Blis/configure -text
Blis/configure.ac -text
Blis/examples/VRP/AUTHORS -text
Blis/examples/VRP/INSTALL -text
Blis/examples/VRP/LICENSE -text
Blis/examples/VRP/MSVisualStudio/v8/Vrp.sln -text
Blis/examples/VRP/MSVisualStudio/v8/Vrp.suo -text
Blis/examples/VRP/MSVisualStudio/v8/Vrp.vcproj -text
Blis/examples/VRP/MSVisualStudio/v9/Vrp.sln -text
Blis/examples/VRP/MSVisualStudio/v9/Vrp.suo -text
Blis/examples/VRP/MSVisualStudio/v9/Vrp.vcproj -text
Blis/examples/VRP/Makefile.in -text
Blis/examples/VRP/README -text
Blis/examples/VRP/VrpCommonTypes.h -text
Blis/examples/VRP/VrpConstants.h -text
Blis/examples/VRP/VrpCutGenerator.cpp -text
Blis/examples/VRP/VrpCutGenerator.h -text
Blis/examples/VRP/VrpHeurTSP.cpp -text
Blis/examples/VRP/VrpHeurTSP.h -text
Blis/examples/VRP/VrpMacros.h -text
Blis/examples/VRP/VrpMain.cpp -text
Blis/examples/VRP/VrpModel.cpp -text
Blis/examples/VRP/VrpModel.h -text
Blis/examples/VRP/VrpNetwork.cpp -text
Blis/examples/VRP/VrpNetwork.h -text
Blis/examples/VRP/VrpParams.cpp -text
Blis/examples/VRP/VrpParams.h -text
Blis/examples/VRP/VrpSolution.cpp -text
Blis/examples/VRP/VrpSolution.h -text
Blis/examples/VRP/VrpVariable.h -text
Blis/examples/VRP/data/sample.vrp -text
Blis/examples/VRP/vrp.par -text
Blis/examples/data/air05.mps.gz -text
Blis/examples/data/batchRun -text
Blis/examples/data/bell5.mps.gz -text
Blis/examples/data/bienst1.mps.gz -text
Blis/examples/data/cls.T90.C3.F100.S4.mps.gz -text
Blis/examples/data/cls.T90.C4.F100.S1.mps.gz -text
Blis/examples/data/cls.T90.C4.F100.S3.mps.gz -text
Blis/examples/data/collectResults -text
Blis/examples/data/dano3_4.mps.gz -text
Blis/examples/data/fc.60.20.3.mps.gz -text
Blis/examples/data/fc.60.20.6.mps.gz -text
Blis/examples/data/fc.60.20.7.mps.gz -text
Blis/examples/data/fiber.mps.gz -text
Blis/examples/data/gesa3_o.mps.gz -text
Blis/examples/data/hard/aflow30a.mps -text
Blis/examples/data/hard/bienst2.mps -text
Blis/examples/data/hard/fc.60.20.4.mps -text
Blis/examples/data/hard/mas76.mps -text
Blis/examples/data/hard/mik.250-10-100.1.mps -text
Blis/examples/data/hard/nexp.50.20.1.1.mps -text
Blis/examples/data/hard/pk1.mps -text
Blis/examples/data/hard/rout.mps -text
Blis/examples/data/hard/sp97ar.mps.gz -text
Blis/examples/data/hard/stats -text
Blis/examples/data/misc07.mps.gz -text
Blis/examples/data/neos2.mps.gz -text
Blis/examples/data/neos21.mps.gz -text
Blis/examples/data/nexp.50.20.2.5.mps.gz -text
Blis/examples/data/nw04.mps.gz -text
Blis/examples/data/p0548.mps.gz -text
Blis/examples/data/qiu.mps.gz -text
Blis/examples/data/sp98ir.mps.gz -text
Blis/examples/data/stats -text
Blis/examples/data/stein45.mps.gz -text
Blis/examples/data/swath2.mps.gz -text
Blis/examples/data/vpm2.mps.gz -text
Blis/inc/config_blis.h.in -text
Blis/src/Blis.h -text
Blis/src/BlisBranchObjectBilevel.cpp -text
Blis/src/BlisBranchObjectBilevel.h -text
Blis/src/BlisBranchObjectInt.cpp -text
Blis/src/BlisBranchObjectInt.h -text
Blis/src/BlisBranchStrategyBilevel.cpp -text
Blis/src/BlisBranchStrategyBilevel.h -text
Blis/src/BlisBranchStrategyMaxInf.cpp -text
Blis/src/BlisBranchStrategyMaxInf.h -text
Blis/src/BlisBranchStrategyPseudo.cpp -text
Blis/src/BlisBranchStrategyPseudo.h -text
Blis/src/BlisBranchStrategyRel.cpp -text
Blis/src/BlisBranchStrategyRel.h -text
Blis/src/BlisBranchStrategyStrong.cpp -text
Blis/src/BlisBranchStrategyStrong.h -text
Blis/src/BlisConGenerator.cpp -text
Blis/src/BlisConGenerator.h -text
Blis/src/BlisConfig.h -text
Blis/src/BlisConstraint.cpp -text
Blis/src/BlisConstraint.h -text
Blis/src/BlisHelp.cpp -text
Blis/src/BlisHelp.h -text
Blis/src/BlisHeurRound.cpp -text
Blis/src/BlisHeurRound.h -text
Blis/src/BlisHeuristic.h -text
Blis/src/BlisLicense.h -text
Blis/src/BlisMain.cpp -text
Blis/src/BlisMessage.cpp -text
Blis/src/BlisMessage.h -text
Blis/src/BlisModel.cpp -text
Blis/src/BlisModel.h -text
Blis/src/BlisNodeDesc.h -text
Blis/src/BlisObjectInt.cpp -text
Blis/src/BlisObjectInt.h -text
Blis/src/BlisParams.cpp -text
Blis/src/BlisParams.h -text
Blis/src/BlisPresolve.cpp -text
Blis/src/BlisPresolve.h -text
Blis/src/BlisPseudo.cpp -text
Blis/src/BlisPseudo.h -text
Blis/src/BlisSolution.h -text
Blis/src/BlisSubTree.h -text
Blis/src/BlisTreeNode.cpp -text
Blis/src/BlisTreeNode.h -text
Blis/src/BlisVariable.h -text
Blis/src/Makefile.am -text
Blis/src/Makefile.in -text
Blis/src/blis.par -text
Blis/test/Makefile.am -text
Blis/test/Makefile.in -text
Blis/test/blis.par -text
/Dependencies -text
/LICENSE -text
/Makefile.am -text
/Makefile.in -text
/README -text
/config.guess -text
/config.sub -text
/configure -text
/configure.ac -text
/depcomp -text
doxydoc/doxygen.conf -text
/install-sh -text
/ltmain.sh -text
/missing -text
