* text=auto !eol
Blis/AUTHORS -text
Blis/INSTALL -text
Blis/LICENSE -text
Blis/Makefile.am -text
Blis/Makefile.in -text
Blis/README -text
Blis/blis_addlibs.txt.in -text
Blis/configure -text
Blis/configure.ac -text
Blis/examples/BlisMain.cpp -text
Blis/examples/Makefile.in -text
Blis/examples/blis.par -text
Blis/examples/egout.mps -text
Blis/examples/flugpl.mps -text
Blis/examples/gen.mps -text
Blis/examples/knap1.mps -text
Blis/examples/knap2.mps -text
Blis/examples/knap3.mps -text
Blis/examples/lamhosts -text
Blis/inc/config_blis.h.in -text
Blis/src/Blis.h -text
Blis/src/BlisBranchObjectInt.cpp -text
Blis/src/BlisBranchObjectInt.h -text
Blis/src/BlisBranchStrategyMaxInf.cpp -text
Blis/src/BlisBranchStrategyMaxInf.h -text
Blis/src/BlisBranchStrategyPseudo.cpp -text
Blis/src/BlisBranchStrategyPseudo.h -text
Blis/src/BlisBranchStrategyRel.cpp -text
Blis/src/BlisBranchStrategyRel.h -text
Blis/src/BlisBranchStrategyStrong.cpp -text
Blis/src/BlisBranchStrategyStrong.h -text
Blis/src/BlisConGenerator.cpp -text
Blis/src/BlisConGenerator.h -text
Blis/src/BlisConfig.h -text
Blis/src/BlisConstraint.cpp -text
Blis/src/BlisConstraint.h -text
Blis/src/BlisHelp.cpp -text
Blis/src/BlisHelp.h -text
Blis/src/BlisHeurRound.cpp -text
Blis/src/BlisHeurRound.h -text
Blis/src/BlisHeuristic.h -text
Blis/src/BlisLicense.h -text
Blis/src/BlisMessage.cpp -text
Blis/src/BlisMessage.h -text
Blis/src/BlisModel.cpp -text
Blis/src/BlisModel.h -text
Blis/src/BlisNodeDesc.h -text
Blis/src/BlisObjectInt.cpp -text
Blis/src/BlisObjectInt.h -text
Blis/src/BlisParams.cpp -text
Blis/src/BlisParams.h -text
Blis/src/BlisPresolve.cpp -text
Blis/src/BlisPresolve.h -text
Blis/src/BlisPseudo.cpp -text
Blis/src/BlisPseudo.h -text
Blis/src/BlisSolution.h -text
Blis/src/BlisSubTree.h -text
Blis/src/BlisTreeNode.cpp -text
Blis/src/BlisTreeNode.h -text
Blis/src/BlisVariable.h -text
Blis/src/Makefile.am -text
Blis/src/Makefile.in -text
Blis/test/Makefile.am -text
Blis/test/Makefile.in -text
/Makefile.am -text
/Makefile.in -text
/README -text
/config.guess -text
/config.sub -text
/configure -text
/configure.ac -text
/depcomp -text
doxydoc/doxygen.conf -text
/install-sh -text
/ltmain.sh -text
/missing -text
