* text=auto !eol
/AUTHORS -text
/INSTALL -text
/LICENSE -text
/Makefile.am -text
/Makefile.in -text
/README -text
/blis_addlibs.txt.in -text
/configure -text
/configure.ac -text
examples/BlisMain.cpp -text
examples/Makefile.in -text
examples/blis.par -text
examples/egout.mps -text
examples/flugpl.mps -text
examples/gen.mps -text
examples/knap1.mps -text
examples/knap2.mps -text
examples/knap3.mps -text
examples/lamhosts -text
inc/config_blis.h.in -text
src/Blis.h -text
src/BlisBranchObjectInt.cpp -text
src/BlisBranchObjectInt.h -text
src/BlisBranchStrategyPseudo.cpp -text
src/BlisBranchStrategyPseudo.h -text
src/BlisBranchStrategyRel.cpp -text
src/BlisBranchStrategyRel.h -text
src/BlisBranchStrategyStrong.cpp -text
src/BlisBranchStrategyStrong.h -text
src/BlisConGenerator.cpp -text
src/BlisConGenerator.h -text
src/BlisConfig.h -text
src/BlisConstraint.cpp -text
src/BlisConstraint.h -text
src/BlisHelp.cpp -text
src/BlisHelp.h -text
src/BlisHeurRound.cpp -text
src/BlisHeurRound.h -text
src/BlisHeuristic.h -text
src/BlisLicense.h -text
src/BlisMessage.cpp -text
src/BlisMessage.h -text
src/BlisModel.cpp -text
src/BlisModel.h -text
src/BlisNodeDesc.h -text
src/BlisObjectInt.cpp -text
src/BlisObjectInt.h -text
src/BlisParams.cpp -text
src/BlisParams.h -text
src/BlisPseudo.cpp -text
src/BlisPseudo.h -text
src/BlisSolution.h -text
src/BlisSubTree.h -text
src/BlisTreeNode.cpp -text
src/BlisTreeNode.h -text
src/BlisVariable.h -text
src/Makefile.am -text
src/Makefile.in -text
test/Makefile.am -text
test/Makefile.in -text
