# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# dependencies
Alps/*
Bcps/*
BuildTools/*
Cgl/*
CglConic/*
Clp/*
CoinUtils/*
Cola/*
Data/*
Osi/*
OsiConic/*
OsiCplex/*
OsiMosek/*
ThirdParty/*
acinclude.m4
aclocal.m4
autom4te.cache/*
build/*

# emacs backup files
*~
